@use '../../assets/variables/Variables.scss' as *;

.about{
    &__collapses{
        max-width: 1020px;
        margin: auto;
    }
}

@media (max-width: 1020px){
    .about{
        &__collapses{
            padding: 0 16px;
        }
    }
}