$main-color: #FF6060;
$secondary-color: #FFFFFF;
$third-color: #000000;
$grey-color: #F6F6F6;
$dark-grey-color: #C4C4C4;
$banner-size: 3rem;
$main-title-size: 1.5rem;
$medium-title-size: 1.125rem;
$small-title-size: 0.813rem;
$small-text-size: 0.75rem;
$main-tags-size: 0.875rem;
$small-tags-size: 0.625rem;