@use '../../assets/variables/Variables.scss' as *;

.footer{
    background-color: $third-color;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__informations{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 65px 0 25px 0;

    }
    &__rights{
        font-size: $main-title-size;
        color: $secondary-color;
    }
}



@media (max-width: 510px){
    .footer{
        &__rights{
            font-size: $small-text-size;
            width: 120px;
            text-align: center;
        }
    }
}